.profile_img {
    width: 50px;
    height: 50px
}

.title{
    font-size: 16px;
}

.change_pf_img_btn{
    font-size: 14px;
    color: blue;
    font-weight: bold;
}

.custom-button-style{
    width: 190px !important;
    height: 28px;
    font-size: 12px !important;
    background-color: #0095f6 !important;
    color: #ffffff !important;
  
  }
  .input-small {
    max-width: 260px; /* ปรับความกว้างของ input ตามต้องการ */
    width: 100%;
    position: relative;
    left: 40px;
  }
  .input-container {
    display: flex;
    align-items: flex-start;
}

.input-small-resize {
    max-width: 260px;
    height: 200px;
    width: 100%;
    position: relative;
    left: 40px;
}
.Modal_title{
    text-align: left
}